@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "WebGrid Demo";

    //to receive incoming data passed as a parameter on the URL address
    //  you will use Request.QueryString["xxxx"] where xxxx is the parameter label
    //just like a control, if the parameter label does NOT exist, QueryString will
    //    return a null
    var incomingParameter = Request.QueryString["partialstring"];
    var partialstring = "%" + incomingParameter + "%";
    var albumchoice= Request.Form["Albums"];
    if (albumchoice == null)
    {
        albumchoice = "0";
    }

    //test: did a parameter actually exists
    if (string.IsNullOrEmpty(incomingParameter))
    {
        Response.Redirect("Exercise4_A.cshtml");
    }


    var db = Database.Open("Chinook");
    var queryCommand = @"SELECT AlbumID, Title
                    FROM Albums
                    WHERE Title like @0
                    ORDER BY Title";
    var results = db.Query(queryCommand, partialstring);
    var queryAlbum = @"Select AlbumId
                From Albums
                Where Title like @0
                Order by ReleaseYear";
}

@if (IsPost)
{
    if (albumchoice == "")
    {
        <p><span style="color:firebrick">Please select a group from the dropdown menu</span></p>
    }
    else
    {
        Response.Redirect("Exercise4_C2.cshtml?aid=" + albumchoice);
    }
}
@section banner{
    <h1>Select the album you're looking for</h1>
}

<form id="theForm" method="post">
    <div class="offset-1">
        <label for="Albums">Select the album</label><br />
        @* a single select is created using the option tag
            the tag has a parameter call value
            the display text is coded between the opening and closing tag*@
        <select id="Albums" name="Albums">
            <option value="">Select album...</option>
            @foreach (var item in results)
            {
                if (item.Title.ToString() == partialstring)
                {
                    <option value="@item.AlbumId" selected>@item.Title</option>
                }
                else
                {
                    <option value="@item.AlbumId">@item.Title</option>
                }
            }


        </select><br /><br />
        <button type="submit" name="theButton" id="theButton" value="submit"
                class="btn btn-primary">
            Update Album
        </button>
    </div>
</form>