@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "WebGrid Demo";

    //to receive incoming data passed as a parameter on the URL address
    //  you will use Request.QueryString["xxxx"] where xxxx is the parameter label
    //just like a control, if the parameter label does NOT exist, QueryString will
    //    return a null
    var incomingParameter = Request.QueryString["partialstring"];

    //test: did a parameter actually exists
    if (string.IsNullOrEmpty(incomingParameter))
    {
        Response.Redirect("Exercise2_A.cshtml");
    }


    var db = Database.Open("Chinook");
    var queryCommand = @"SELECT ArtistId, Name
                            FROM Artists
                            WHERE Name like @0
                            ORDER BY Name";
    var results = db.Query(queryCommand, incomingParameter);

    
    var gridinstance = new WebGrid(results, rowsPerPage: 3);
}

@section banner{
    <h1>Display a Collection of Records using WebGrid</h1>
}

<form id="theForm" method="post">
    <div class="offset-1">
        <label for="Artists">Select the artist</label><br />
        @* a single select is created using the option tag
            the tag has a parameter call value
            the display text is coded between the opening and closing tag*@
    <select id="Artists" name="Artists">
        <option value="">select ...</option>
        @foreach (var item in results)
        {
            if (item.CategoryID.ToString() == incomingParameter)
            {
                <option value="@item.Name" selected>@item[1]</option>
            }
            else
            {
                <option value="@item.Name">@item[1]</option>
            }

        }

    </select><br /><br />
        <button type="submit" name="theButton" id="theButton" value="submit"
                class="btn btn-primary">
            Submit
        </button>
    </div>
</form>